@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

  html {
    box-sizing: border-box;
    background-color: #e2e2e2;
    font-family: sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

.img-flex {
  width: 100%;
}

.image {
  display: inline-block;
  max-width: 35rem;
}

  .text {
    text-align: left;
    margin: 0.5em;
    margin-top: 1em;
  }

h1 {
  margin-top: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

p {
  margin-top: 0;
}

  .button {
    color: #fff;
    background-color: #555;
    padding: 0.5em 0.75em;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    list-style-type: none;
  }

  a:hover {
    background-color: #000;
  }

@media only screen and (min-width: 38em) {

  .text {
    display: inline-block;
    max-width: 50%;
  }

  .image {
    display: inline-block;
    max-width: 50%;
  }

}
