@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

  html {
    box-sizing: border-box;
    background-color: #e2e2e2;
    font-family: sans-serif;
  }

  *, *::before, *::after {
    box-sizing: inherit;
  }

  .image {
    display: inline-block;
    max-width: 100%;
}
  .button {
    color: #fff;
    background-color: #555;
    padding: 0.5em 0.75em;
    border-radius: 4px;
  }

  .button:hover {
    background-color: #000;
  }
}
